In [ ]:
import pandas as pd

df = pd.read_csv("../data/USAHousingDataset.csv")
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,3.760000e+05,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,8.000000e+05,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2.238888e+06,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,3.240000e+05,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,5.499000e+05,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4136,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4137,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4138,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4139,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [7]:
# 0. Instalaciones (ejecuta solo si te faltan libs)
# !pip install plotly ipywidgets pandas


# 1. Imports y carga
import pandas as pd
from pathlib import Path
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import interact, widgets, HBox, VBox, Output
from IPython.display import display

DATA_PATH = Path("../data/USAHousingDataset.csv")  # ajustar si hace falta
df = pd.read_csv(DATA_PATH)

# 2. Limpieza básica y tipos
df.columns = df.columns.str.strip()  # limpiar espacios
# convertir date si existe y ordenar
if 'date' in df.columns:
    try:
        df['date'] = pd.to_datetime(df['date'])
    except:
        # si vino como int (ej: 20140502) intentar parseo
        df['date'] = pd.to_datetime(df['date'].astype(str), errors='coerce')
df = df.sort_values(by='date', na_position='last')

# asegurar numericos
numericas = ['price','bedrooms','bathrooms','sqft_living','sqft_lot','floors',
             'sqft_above','sqft_basement','yr_built','yr_renovated']
for c in numericas:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

# crear columnas utilitarias
if 'price' in df.columns and 'sqft_living' in df.columns:
    df['price_per_sqft'] = df['price'] / df['sqft_living'].replace({0: np.nan})
df['year'] = df['date'].dt.year if 'date' in df.columns else pd.NA

# vista inicial
print("filas:", len(df), "columnas:", len(df.columns))
df.head()

filas: 4140 columnas: 20

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,price_per_sqft,year
3849,2014-05-02,436110.000000,3.0,2.50,1770,1235,3.0,0,0,3,1600,170,2007,0,1156 N 93rd St,Seattle,WA 98103,USA,246.389831,2014
3879,2014-05-02,440000.000000,4.0,2.25,2160,8119,1.0,0,0,3,1080,1080,1966,1913,12211 SE 65th St,Bellevue,WA 98006,USA,203.703704,2014
3892,2014-05-02,237227.857143,4.0,2.50,2200,9397,2.0,0,0,3,2200,0,1987,2000,5214 S 292nd St,Auburn,WA 98001,USA,107.830844,2014
3897,2014-05-05,0.000000,6.0,2.75,3200,9200,1.0,0,2,4,1600,1600,1953,1983,12271 Marine View Dr SW,Burien,WA 98146,USA,0.000000,2014
3896,2014-05-05,0.000000,4.0,2.75,2600,5390,1.0,0,0,4,1300,1300,1960,2001,2120 31st Ave W,Seattle,WA 98199,USA,0.000000,2014

In [8]:
# 3. Widgets (filtros)
ciudades = sorted(df['city'].dropna().unique()) if 'city' in df.columns else []
min_price, max_price = int(df['price'].min()), int(df['price'].max())
min_sqft, max_sqft = int(df['sqft_living'].min()), int(df['sqft_living'].max())
min_bed, max_bed = int(df['bedrooms'].min()), int(df['bedrooms'].max())

w_city = widgets.SelectMultiple(options=ciudades, value=tuple(ciudades[:6]), description='City')
w_price = widgets.IntRangeSlider(value=[min_price, max_price], min=min_price, max=max_price, step=1000, description='Price')
w_sqft = widgets.IntRangeSlider(value=[min_sqft, max_sqft], min=min_sqft, max=max_sqft, step=50, description='Sqft')
w_bed = widgets.IntRangeSlider(value=[min_bed, max_bed], min=min_bed, max=max_bed, step=1, description='Bedrooms')

out = Output()
filters_box = VBox([w_city, w_price, w_sqft, w_bed])
display(HBox([filters_box, out], layout=widgets.Layout(align_items='flex-start')))

HBox(children=(VBox(children=(SelectMultiple(description='City', index=(0, 1, 2, 3, 4, 5), options=('Algona', …

In [ ]:
# 4. Función de actualización del tablero
def update_tab(city, price_range, sqft_range, bed_range):
    with out:
        out.clear_output()
        # filtro
        d = df.copy()
        if city:
            d = d[d['city'].isin(city)]
        d = d[(d['price'] >= price_range[0]) & (d['price'] <= price_range[1])]
        d = d[(d['sqft_living'] >= sqft_range[0]) & (d['sqft_living'] <= sqft_range[1])]
        d = d[(d['bedrooms'] >= bed_range[0]) & (d['bedrooms'] <= bed_range[1])]
        
        if d.empty:
            print("No hay datos para esos filtros.")
            return
        
        # KPIs
        n_prop = len(d)
        avg_price = d['price'].median()
        avg_ppsq = d['price_per_sqft'].median()
        avg_sqft = d['sqft_living'].mean()
        
        # mostrar KPIs simples
        kpi_text = f"""
        Propiedades: {n_prop}
        Precio mediano: ${avg_price:,.0f}
        Precio mediano por sqft: ${avg_ppsq:,.2f}
        Sqft medio: {avg_sqft:,.0f}
        """
        print(kpi_text)
        
        # Gráfico 1: Price vs sqft (scatter)
        fig1 = px.scatter(d, x='sqft_living', y='price', hover_data=['city','bedrooms','bathrooms'],
                          title='Precio vs Sqft living', trendline='ols')
        fig1.update_layout(height=400)
        
        # Gráfico 2: Histograma de precios
        fig2 = px.histogram(d, x='price', nbins=40, marginal='box', title='Distribución de precios')
        fig2.update_layout(height=350)
        
        # Gráfico 3: Evolución temporal (si hay date)
        figs = []
        if 'date' in d.columns and d['date'].notna().any():
            ts = d.dropna(subset=['date']).groupby(pd.Grouper(key='date', freq='M'))['price'].median().reset_index()
            fig3 = px.line(ts, x='date', y='price', title='Precio mediano por mes')
            fig3.update_layout(height=300)
            figs.append(fig3)
        
        # Gráfico 4: Boxplot price por bedrooms
        if 'bedrooms' in d.columns:
            fig4 = px.box(d, x='bedrooms', y='price', title='Boxplot precio por número de habitaciones')
            fig4.update_layout(height=350)
            figs.append(fig4)
        
        # Mostrar gráficos
        display(fig1)
        display(fig2)
        for f in figs:
            display(f)
        
        # Tabla resumen por ciudad (top 10)
        resumen = d.groupby('city').agg(
            n=('price','count'),
            med_price=('price','median'),
            med_ppsq=('price_per_sqft','median')
        ).sort_values('n', ascending=False).reset_index().head(10)
        display(resumen.style.format({'med_price':'${:,.0f}', 'med_ppsq':'${:,.2f}'}))

# 5. Conectar widgets a la función
interactive = widgets.interactive_output(update_tab, {
    'city': w_city,
    'price_range': w_price,
    'sqft_range': w_sqft,
    'bed_range': w_bed
})
display(interactive)

In [ ]:
# TABLERO FINAL ADAPTADO (dataset ~4k filas)
# Requisitos: pandas, plotly, ipywidgets, numpy, (sklearn opcional)
# !pip install plotly ipywidgets pandas numpy scikit-learn

import pandas as pd
import numpy as np
from pathlib import Path
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets, HBox, VBox, Button, Output
from IPython.display import display, clear_output, FileLink
import time

DATA_PATH = Path("../data/USAHousingDataset.csv")

# ---- CARGA Y PREPARACIÓN
t0 = time.time()
df = pd.read_csv(DATA_PATH)
df.columns = df.columns.str.strip()
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'].astype(str), errors='coerce')
nums = ['price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','sqft_above','sqft_basement','yr_built','yr_renovated']
for c in nums:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')
if 'price' in df.columns and 'sqft_living' in df.columns:
    df['price_per_sqft'] = df['price'] / df['sqft_living'].replace({0: np.nan})
df['year'] = df['date'].dt.year if 'date' in df.columns else pd.NA
load_time = time.time() - t0
print(f"Dataset cargado: {len(df):,} filas — tiempo carga {load_time:.2f}s")

# precomputado mensual global (rápido)
if 'date' in df.columns and df['date'].notna().any():
    global_monthly = df.dropna(subset=['date','price']).set_index('date').resample('M')['price'].median()
else:
    global_monthly = None

# ---- WIDGETS (filtros)
cities = sorted(df['city'].dropna().unique()) if 'city' in df.columns else []
min_price, max_price = int(np.nanmin(df['price'])), int(np.nanmax(df['price']))
min_sqft, max_sqft = int(np.nanmin(df['sqft_living'])), int(np.nanmax(df['sqft_living']))
min_bed, max_bed = int(np.nanmin(df['bedrooms'])), int(np.nanmax(df['bedrooms']))

w_city = widgets.SelectMultiple(options=cities, value=tuple(cities[:6]), description='City', rows=6)
w_price = widgets.IntRangeSlider(value=[min_price, max_price], min=min_price, max=max_price, step=1000, description='Price', layout=widgets.Layout(width='90%'))
w_sqft = widgets.IntRangeSlider(value=[min_sqft, max_sqft], min=min_sqft, max=max_sqft, step=50, description='Sqft', layout=widgets.Layout(width='90%'))
w_bed = widgets.IntRangeSlider(value=[min_bed, max_bed], min=min_bed, max=max_bed, step=1, description='Beds', layout=widgets.Layout(width='90%'))
w_sample = widgets.IntSlider(value=0, min=0, max=50000, step=1000, description='Sample pts (0=todo)', layout=widgets.Layout(width='90%'))
w_trend = widgets.Checkbox(value=True, description='Mostrar trendline (OLS aproximado)')
w_cluster = widgets.Checkbox(value=False, description='Segmentar (KMeans 3)')
w_show_outliers = widgets.Checkbox(value=True, description='Marcar outliers IQR')
w_apply = Button(description="Aplicar filtros", button_style='primary')

left = VBox([w_city, w_price, w_sqft, w_bed, w_sample, w_trend, w_cluster, w_show_outliers, w_apply], layout=widgets.Layout(width='38%'))
out = Output(layout=widgets.Layout(width='62%'))
display(HBox([left, out]))

# ---- HELPERS
def sample_df(df_in, n=15000, random_state=42):
    if n == 0:
        return df_in  # mostrar todo
    if len(df_in) > n:
        return df_in.sample(n, random_state=random_state)
    return df_in

def detect_outliers_iqr(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    low = q1 - 1.5 * iqr
    high = q3 + 1.5 * iqr
    return (series < low) | (series > high)

def try_kmeans(df_in, n_clusters=3):
    try:
        from sklearn.cluster import KMeans
    except Exception as e:
        return None, "scikit-learn no disponible"
    X = df_in[['price','sqft_living']].dropna()
    if len(X) < n_clusters:
        return None, "pocos datos para cluster"
    km = KMeans(n_clusters=n_clusters, random_state=0, n_init=10).fit(X)
    lab = pd.Series(index=X.index, data=km.labels_, name='cluster')
    return lab, None

def compute_trend(x, y):
    # ajuste lineal simple (skip NaNs)
    mask = x.notna() & y.notna()
    if mask.sum() < 2:
        return None
    xp = x[mask].values
    yp = y[mask].values
    a, b = np.polyfit(xp, yp, 1)  # slope a, intercept b
    return a, b

# ---- RENDER
def render_tab(city, price_range, sqft_range, bed_range, n_sample, show_trend, do_cluster, mark_outliers):
    with out:
        clear_output(wait=True)
        t0 = time.time()
        d = df.copy()
        if city:
            d = d[d['city'].isin(city)]
        d = d[(d['price'] >= price_range[0]) & (d['price'] <= price_range[1])]
        d = d[(d['sqft_living'] >= sqft_range[0]) & (d['sqft_living'] <= sqft_range[1])]
        d = d[(d['bedrooms'] >= bed_range[0]) & (d['bedrooms'] <= bed_range[1])]
        if d.empty:
            print("No hay registros con esos filtros.")
            return

        # KPIs
        n_prop = len(d)
        med_price = d['price'].median()
        med_ppsq = d['price_per_sqft'].median() if 'price_per_sqft' in d.columns else np.nan
        sqft_mean = d['sqft_living'].mean()
        pct_waterfront = 100 * d['waterfront'].dropna().astype(int).sum() / len(d) if 'waterfront' in d.columns else np.nan
        age_avg = (2025 - d['yr_built']).mean() if 'yr_built' in d.columns else np.nan
        iqr_price = d['price'].quantile(0.75) - d['price'].quantile(0.25)

        kpis = [
            ("Propiedades", f"{n_prop:,}"),
            ("Precio mediano", f"${med_price:,.0f}"),
            ("Precio/sqft mediano", f"${med_ppsq:,.2f}"),
            ("Sqft medio", f"{sqft_mean:,.0f}"),
            ("% Waterfront", f"{pct_waterfront:.1f}%"),
            ("Antigüedad media (años)", f"{age_avg:.1f}"),
            ("IQR precio", f"${iqr_price:,.0f}")
        ]
        print("   |   ".join([f"{k}: {v}" for k,v in kpis]))

        # outliers
        if mark_outliers and 'price' in d.columns:
            d['is_outlier_price'] = detect_outliers_iqr(d['price'])
        else:
            d['is_outlier_price'] = False

        # clustering opcional
        cluster_labels = None
        if do_cluster:
            lab, err = try_kmeans(d, n_clusters=3)
            if lab is not None:
                d = d.join(lab, how='left')
                cluster_labels = d['cluster']
            else:
                print("Cluster: ", err)

        # sample para plots
        d_s = sample_df(d, n=n_sample)

        # Scatter price vs sqft (Scattergl)
        fig1 = go.Figure()
        marker_base = dict(size=6, opacity=0.7)
        if cluster_labels is not None and 'cluster' in d_s.columns:
            for c in sorted(d_s['cluster'].dropna().unique()):
                sel = d_s[d_s['cluster']==c]
                fig1.add_trace(go.Scattergl(x=sel['sqft_living'], y=sel['price'], mode='markers',
                                           marker=dict(**marker_base), name=f'Cluster {int(c)}',
                                           text=sel[['city','bedrooms']].astype(str).agg(" | ".join, axis=1)))
        else:
            sel_in = d_s[~d_s['is_outlier_price']]
            fig1.add_trace(go.Scattergl(x=sel_in['sqft_living'], y=sel_in['price'], mode='markers',
                                       marker=dict(**marker_base), name='Normal',
                                       text=sel_in[['city','bedrooms']].astype(str).agg(" | ".join, axis=1)))
            sel_out = d_s[d_s['is_outlier_price']]
            if len(sel_out):
                fig1.add_trace(go.Scattergl(x=sel_out['sqft_living'], y=sel_out['price'], mode='markers',
                                           marker=dict(size=7, color='red', symbol='x'), name='Outliers',
                                           text=sel_out[['city','bedrooms']].astype(str).agg(" | ".join, axis=1)))

        # trendline approximate
        if show_trend and 'sqft_living' in d_s.columns and 'price' in d_s.columns:
            t = compute_trend(d_s['sqft_living'], d_s['price'])
            if t is not None:
                a, b = t
                xs = np.linspace(d_s['sqft_living'].min(), d_s['sqft_living'].max(), 100)
                ys = a * xs + b
                fig1.add_trace(go.Line(x=xs, y=ys, name='Trendline (approx)', line=dict(color='black', width=2)))
        fig1.update_layout(title='Precio vs Sqft', xaxis_title='sqft_living', yaxis_title='price', height=450)
        display(fig1)

        # Histograma precios
        fig2 = px.histogram(d_s, x='price', nbins=40, marginal='box', title='Distribución de precios (muestra)')
        fig2.update_layout(height=300)
        display(fig2)

        # Evolución temporal
        if global_monthly is not None:
            if city:
                ts = d.dropna(subset=['date']).set_index('date').resample('M')['price'].median().reset_index()
            else:
                ts = global_monthly.reset_index().rename(columns={'price':'price'})
            fig3 = px.line(ts, x='date', y='price', title='Precio mediano por mes')
            fig3.update_layout(height=300)
            display(fig3)

        # Correlación
        num_cols = d.select_dtypes(include=[np.number]).columns.tolist()
        num_cols = [c for c in num_cols if d[c].notna().sum()>50]
        if len(num_cols) >= 3:
            corr = d[num_cols].corr()
            fig4 = px.imshow(corr, text_auto=True, title='Matriz de correlación (numéricas)')
            fig4.update_layout(height=350)
            display(fig4)

        # Resumen top ciudades
        resumen = d.groupby('city').agg(n=('price','count'), med_price=('price','median'), med_ppsq=('price_per_sqft','median')).sort_values('n', ascending=False).reset_index().head(10)
        display(resumen.style.format({'med_price':'${:,.0f}','med_ppsq':'${:,.2f}'}))

        # Link de descarga CSV filtrado
        try:
            csv_bytes = d.to_csv(index=False).encode('utf-8')
            tmp = Path("filtered_data.csv")
            tmp.write_bytes(csv_bytes)
            display(FileLink(str(tmp), result_html_prefix="Descargar CSV filtrado: "))
        except Exception as e:
            print("No se pudo generar link de descarga:", e)

        dt = time.time() - t0
        print(f"\nRenderizado en {dt:.2f}s — puntos mostrados: {len(d_s):,}.")

# bind botón
def on_apply(b):
    render_tab(w_city.value, w_price.value, w_sqft.value, w_bed.value, w_sample.value, w_trend.value, w_cluster.value, w_show_outliers.value)
w_apply.on_click(on_apply)

# primer render con valores por defecto
render_tab(w_city.value, w_price.value, w_sqft.value, w_bed.value, w_sample.value, w_trend.value, w_cluster.value, w_show_outliers.value)